<html>
	<head>
		<title>Persons</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<style>
			.page-link {
				color: #FFFFFF;
				background-color: #000000;
				
			}
			.page-link:focus, .page-link:hover {
				color: #000;
				background-color: #FFF;
			}
		</style>
	</head>
	<body>
		<div id="outerLayer">
			{% block content %}
			{% endblock %}
		<div>
	</body>
</html>